@media (min-width: 576px) {}

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Muli');



h2.uppercase {
    text-transform: uppercase; 
}

h3.uppercase{
    text-transform: uppercase; 
}

p.uppercase{
    text-transform: uppercase;
}

h2{
    font-family:'Oswald';
    font-weight:'heavy';
    color:#FC3FDF;
}

h1{
    font-family:'Oswald';
    font-weight:'heavy';
    font-size: 40px; 
}

h3{
    font-family:'Oswald';
    font-weight:'heavy';
}

p{
    font-family:'Muli';
}