@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


h1{
    font-family: Oswald;
    font-size: 100px; 

    position: absolute;
    width: 100%;
    top: 30%;  
    color: white; 
}


.pijl{
    top: 80%;
   
    height: 50px;
    width: 50px;
    position: absolute; 

}


h2{
    font-family: Oswald;
    color:#FC3FDF;
}


h3{
    font-family: Oswald;
    padding-bottom: 30px; 
}

h4{
    font-family: Open Sans Condensed;
    color:#FC3FDF;
    margin-right: 50px;
    position: relative;
}

a:hover {
    text-decoration: underline;
    color: #FC3FDF; 
}

p{
    font-family: Muli;
}

.detail { 
    margin-top: 10px;
}

html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
  
}

.hero-image {

    background-image: url("hero.png") ;


    z-index: -1;
    top: 0; bottom: 0; left: 0; right:0;

    visibility: visible;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
}



.cover {
    margin-bottom: 20px;
}

.btn {
    background-color: #FC3FDF;
    color: white;
    vertical-align: middle;
}



.play {
    height: 30px;
    width: 30px;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}


.mobilerow {
    margin-top: 50px;
    margin-left: 10px; 
    margin-right: 10px; 
}

.nav {
    text-decoration: none; 
    
} 

.img-fluid-mini {
    margin-top: 25px; 
}

.special {
    margin-top: 25px; 
}

@media screen and (max-width: 991px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block; 
    }
    
    p {
        font-size: 10px;
    }

    h2 {
        font-size: 24px; 
    }

    h3 {
        font-size: 18px;
    }


    h4 {
        font-size: 16px; 
    }

    table {
        font-size: 10px; 
    }

    .detail {
        font-size: 7px; 
    }

    .img-fluid-mini {
        height: 60px;
        width: 60px;
    }

    .special {
        height: 60px;
        width: 60px;
    }

    .cover{
        width: 200px;
    }

    .nav-tabs {
        margin-right: 30px;
    }

}

@media screen and (min-width: 992px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    p {
        font-size: 14px;
    }

    h2 {
        font-size: 32px; 
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px; 
    }

    .detail {
        font-size: 12px; 
    }

    table {
        font-size: 14px; 
    }
    
    .img-fluid-mini {
        height: 120px;
        width: 120px;
    }

    .special {
        height: 120px;
        width: 120px;
    }

    .nav-tabs {
        margin-right: 50px;
    }
}


