@media (min-width: 576px) {}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


h1{
    font-family: Oswald;
    font-size: 100px; 

    position: absolute;
    width: 100%;
    top: 30%;  
    color: white; 
}


.pijl{
    top: 80%;
   
    height: 50px;
    width: 50px;
    position: absolute; 

}


h2{
    font-family: Oswald;
    color:#FC3FDF;
}


h3{
    font-family: Oswald;
    padding-bottom: 30px; 
}

h4{
    font-family: Open Sans Condensed;
    color:#FC3FDF;
    text-transform: underline #FC3FDF; 
    margin-right: 50px;
    position: relative;
}

p{
    font-family: Muli;
}

.detail {
    font-size: 12px; 
    margin-top: 10px;
}

html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
  
}

.hero-image {

    background-image: url("hero.png") ;


    z-index: -1;
    top: 0; bottom: 0; left: 0; right:0;

    visibility: visible;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
}

.img-fluid-mini {
    height: 120px;
    width: 120px;
}

.fail {
    height: 120px;
    width: 120px;
}

.img-fluid {
    margin-bottom: 20px;
}

.btn {
    background-color: #FC3FDF;
    color: white;
    vertical-align: middle;
}


.play {
    height: 20px;
    width: 20px;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}


.nav-tabs {
    margin-right: 50px;
}

.nav {
    text-decoration: none; 
}

      